/* ===== Elise's CSS ===== */

h1 {
	font-family: 'Roboto', sans-serif;
	/* font-family: 'Inconsolata', monospace; */
	/*font-weight: bold;*/
	font-size: 2.5em;
	margin-bottom: 0;
}

h2 {
	font-family: 'Roboto', sans-serif;
	/* font-family: 'Inconsolata', monospace; */
	/*font-weight: bold;*/
	text-align: center;
	font-size: 2em;
}

body {
	/*font-family: 'Lato', sans-serif;*/
	/*font-family: 'Roboto', sans-serif;*/
	font-family: 'Raleway', sans-serif;
	/* font-family: 'Quicksand', sans-serif; */
	color: #444;
	font-size: 2em;
}

body:after {
 display:none;
 content: url(images/elise-dang-studio-ghibli-grad-cap.png) url(images/elise-dang-photo-portrait-grad.png) url(images/elise-dang-photo-girlswhocode-aligned.png) url(images/elise-dang-photo-coder-hackathon.png);
}

b {
	color: #00a3da;
}

.white a {
	color: #444; /* #707070; */
	text-decoration: none;
}

.white a:hover, .white a:active, .white a:focus {
	color: #1cc9f2;
	text-decoration: underline;
	font-weight: none;
}

.navbar {
	background-color: #00a3da;
	opacity: 1;
	text-align: center;
	height: 35px;
	min-height:35px !important;
}

.navbar ul {
	display: inline-block;
	float: none;
	vertical-align: top;
	text-transform: uppercase;
}

.navbar li {
	padding-top: 5px;
}

.home-section {
	margin-top: 30px;
	padding-bottom: 10px;
}

.home-section h1 {
	font-size: 3em;
}

.contact-section {
	padding-bottom: 30px;
}

.who-i-am-section {
	padding-bottom: 30px;
	/*font-size: 1.5em;*/
}

.img-responsive {
	margin-top: 35px;
}

.jumbotron {
	background-color: white;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active,
.open .dropdown-toggle.btn-primary {
  background-color: #a9cbdb;
  border-color: #a9cbdb;
}

.btn {
  background-color: #00a3da;
	color: #FFFFFF;
}

.btn:hover {
  background-color: #1cc9f2;
}

.btn:hover,
.btn:focus,
.btn.focus {
  color: #FFFFFF !important;
}

textarea {
	resize: none;
}

.form-control:focus {
	border-color: #00a3da;
	box-shadow: none;
	-webkit-box-shadow: none;
}

.has-error .form-control:focus {
	box-shadow: none;
	-webkit-box-shadow: none;
}

.social-icon {
	font-size: 1.75em;
	margin-bottom: 0;
}

.hidden {
	display: none;
}

.scroll-past {
	visibility: hidden;
}

.purple {
	background: #b591b7;
	color: #FFFFFF;
}

.purple a {
  color: #FFFFFF;
}

.purple a:hover, .purple a:active, .purple a:focus {
	color: #d1aed3;
	/*#1cc9f2*/
	/*#d1aed3;*/
	text-decoration: none;
}


.blue {
  background: #00a3da;
	/*27c1a3*/
	color: #FFFFFF;
}

section#who-i-am .caption {
  color: #FFFFFF;
	/*text-align: center;*/
}

.blue h2 {
  color: #FFFFFF;
}

.blue b {
  color: #a4eeff;
}

.blue a {
  color: #FFFFFF;
}

.blue a:hover, .blue a:active, .blue a:focus {
	color: #bdf1ff;
	text-decoration: none;
}


.dark-gray {
  background: #444444;
	color: #FFFFFF;
}


.dark-gray a {
  color: #FFFFFF;
}

.dark-gray a:hover, .dark-gray a:active, .dark-gray a:focus {
	color: #bdf1ff;
	text-decoration: none;
}


section#foot p {
	padding-top: 10px;
	margin-bottom: 0px;
}

/* extra-small */
@media (max-width: 767px) {
	.center-when-xs {
		float: none;
		display: block;
		margin-left: auto;
		margin-right: auto;
	}
}

/* small */
@media (max-width: 991px) {
	.center-when-s {
		float: none;
		display: block;
	  margin-left: auto;
	  margin-right: auto;
	}
}

/*img.img-hover {
	-webkit-transition: margin 0.5s ease-out;
	-moz-transition: margin 0.5s ease-out;
	-o-transition: margin 0.5s ease-out;
}

img.img-hover:hover {
	cursor:pointer;
	margin-top: 5px;
}*/
